
/*---------------------the start of header----------------------*/

body > #cont > div > .top > .first-line{
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    align-items: center;
    justify-content: center;
}

body > #cont > div > .top > .first-line > .table-info  {
    margin-top: 4px;
    td{
        border-radius: 5px;
    }
}
body > #cont > div > .top > .first-line > div,
body > #cont > div > .top > .first-line > .table-info > table,
body > #cont > div > .content > fieldset > legend ,
body > #cont > div > .content > fieldset > .legend2{
    font-family: bld;
}

body > #cont > div > .top  > .first-line > .table-info > table > tbody > tr > td {
    border: 1px solid var(--dark);
    padding: 5px;
    background-color: var(--dark1);
}

body > #cont > div > .top  > .first-line > .table-info > table {
    border-collapse: separate;
}


body > #cont > div > .top  > .first-line > .table-info > table >  tbody > tr > .non-style{
    border: none;
    background-color: var(--light);
}

body > #cont > div > .top > .first-line > .year > a {
    pointer-events: none;
}


/*---------------------the end of header----------------------*/

/*---------------------the start of Content----------------------*/

body > #cont > div > .content{
    margin-top: 5px;
}

body > #cont > div > .content > fieldset{
    border:  1px solid var(--dark1);
    border-radius: 15px;
    position: relative;
}

body > #cont > div > .content > .second-field{
    display: none;
}
body > #cont > div > .content > fieldset > legend{
    text-align: left;
}

body > #cont > div > .content > fieldset > .legend2 > .input > .data {
    width: 120px;
}



body > #cont > div > .content > fieldset > .legend2{
    position: absolute;
    top: -2.3em;
    right: 150px;
    background: var(--light);
    line-height:1.2em;
    display: flex;
    align-items: center;
    gap: 5px;
}

body > #cont > div > .content > fieldset > .legend3{
    position: absolute;
    top: -2.3em;
    right: 2em;
    background: var(--light);
    line-height:1.2em;
    display: flex;

}

body > #cont > div > .content > fieldset > .heart{
    margin: 0 auto;
    margin-top: 30px;
}

body > #cont > div > .content > fieldset > .heart > table{
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}

body > #cont > div > .content > fieldset > .heart > .show{
    display: none;
}

body > #cont > div > .content > fieldset > .heart > .title.hide {
    display: none;
}

body > #cont > div > .content > fieldset > .heart > .see {
    margin-top: 40px;
}

body > #cont > div > .content > fieldset > .heart > table > tbody > tr > th,
body > #cont > div > .content > fieldset > .heart > table > tbody > tr > td {
    border: 1px solid var(--dark1);
    padding: 7px;
    color: var(--dark);
    font-size: 13px;
    line-height: 18px;
}


body > #cont > div > .content > fieldset > .heart > table > tbody > tr > .total > div {
    display: flex;
    justify-content: flex-end;
}

body > #cont > div > .content > fieldset > .heart > table > tbody > tr > .total > div > .input > .data{
    width: 120px;
}

body > #cont > div > .content > fieldset > .heart > table > tbody > tr > .total > div > .btn > a {
    pointer-events: none;
    padding: 1px;
}


body > #cont > div > .content > fieldset > .heart > table  > tbody > tr > .operation{
    width: 20px;
}
body > #cont > div > .content > fieldset > .heart > table > tbody > tr > .titre{
    text-align: left;
}


body > #cont > div > .content > fieldset > .heart > table  > tbody > tr > .operation >  .btn.min.action > a,
body > #cont > div > .content > fieldset > .heart > table  > tbody > tr > td > .btn.min.operation > a,
body > #cont > div > .content > fieldset > .heart > table  > tbody > tr > .btn-add > div > .btn > a,
body > #cont > div >  .btn-last > .btn > a,
body > #cont > div > .content > fieldset > .heart > table  > tbody > .area > td > div > .btn.min.comment-add > a{
    border: none;
    font-size: 19px;
    line-height: 26px;
}

body > #cont > div > .content > fieldset > .heart > table  > tbody > tr > .operation >  .btn.min.action > a:hover,
body > #cont > div > .content > fieldset > .heart > table  > tbody > tr > td > .btn.min.operation > a:hover,
body > #cont > div > .content > fieldset > .heart > table  > tbody > tr > .btn-add > div > .btn > a:hover,
body > #cont > div > .btn-last > .btn > a:hover,
body > #cont > div > .content > fieldset > .heart > table  > tbody > .area > td > div > .btn.min.comment-add > a:hover{
    background-color: var(--light);
    color: var(--grey);
}

body > #cont > div > .content > fieldset > .btn-out{
    gap: 5px;
}

body > #cont > div > .content > fieldset > .heart > table  > tbody > tr > .btn-add {
    border: none;
}
body > #cont > div > .content > fieldset > .heart > table  > tbody > tr > .btn-add > div {
    display: flex;
    justify-content: center;

}

body > #cont > div > .content > fieldset > .heart > .title{
    display: flex;
    margin-left: 10%;
    width: 80%;
    justify-content: space-between;
}

body > #cont > div > .content > fieldset > .heart > .title > .operation-remove{
    display: flex;
    gap: 4px;
}

body > #cont > div > .content > fieldset > .heart > .title > .title-content {
    display: flex;
}


body > #cont > div > .content > fieldset > .heart > .title > .title-content >  .input {
    width: 200px;
}

body > #cont > div > .content > fieldset > .btn-out{
    display: flex;
}
/*
body > #cont > div > .content > fieldset > .btn-out > .btn > a {
}
*/

body > #cont > div > .btn-last{
    display: flex;
    gap: 4px;
}

body > #cont > div > .content > fieldset > .heart > table > tbody > tr > td > div > .textarea-container{
    width: 40%;
}

body > #cont > div > .content > fieldset > .heart > table > tbody > .area > td > div{
    display: flex;
    justify-content: center;
    gap: 4px;
}



/*---------------------the end of Content----------------------*/




