.btn { display: flex; flex-direction: column; }
.btn > a { flex-grow: 1; display: flex; justify-content: center; align-items: flex-start; gap: 5px; padding: 5px 10px; text-decoration: none; color: var(--dark); border-radius: 5px; border: 1px solid var(--dark1); background-color: var(--dark1); }
.btn > a > .ico { flex-shrink: 0; height: 18px; }
.btn > a > .txt { text-align: left; }
.btn > a:hover { color: var(--light); background-color: var(--dark); }
.btn.min > a { padding: 5px; }
.btn.min > a > .ico { width: 18px; }
.btn.min > a > .txt { padding: 0 5px; text-align: center; }
.btn.l > a { justify-content: flex-start; }
.btn.l > a .txt { text-align: left; }
.btn.r > a { flex-direction: row-reverse; justify-content: flex-start; }
.btn.r > a .txt { text-align: right; }
.btn.readonly > a { color: var(--dark1); background-color: transparent; cursor: auto; }
.btn.off { display: none; }

.input { display: flex; flex-direction: column; }
.input > .label { padding: 0 6px; font-size: 10px; line-height: 14px; text-align: left; }
.input > .data { flex-grow: 1; display: flex; gap: 5px; padding: 5px; border-radius: 5px; border-radius: 5px; border: 1px solid var(--dark1); background-color: var(--dark1); }
.input > .data > input { flex-grow: 1; width: 0; padding: 0; font-family: txt; font-size: 14px; line-height: 18px; color: var(--dark); border: none; background-color: transparent; outline: none; }
.input > .data > input::placeholder { color: var(--dark3); opacity: 1; }
.input > .data > .btn > a { padding: 1px 5px; font-size: 10px; line-height: 14px; }
.input > .data > .btn > a > .ico { height: 14px; }
.input > .data > .btn.min > a { align-items: center; padding: 1px; }
.input > .data > .btn.min > a > .ico { width: 14px; }
.input > .data > .btn.min > a > .txt { padding: 0 4px; }
.input.required > .label::after { content: " *"; color: var(--red); }
.input.c > .data > input { text-align: center; }
.input.r > .data > input { text-align: right; }
.input.readonly > .data { background-color: transparent; }
.input.off { display: none; }

.textarea { display: flex; flex-direction: column; }
.textarea > .label { padding: 0 6px; font-size: 10px; line-height: 14px; text-align: left; }
.textarea > .data { flex-grow: 1; display: flex; gap: 5px; padding: 5px; border-radius: 5px; border-radius: 5px; border: 1px solid var(--dark1); background-color: var(--dark1); }
.textarea > .data > textarea { flex-grow: 1; width: 0; height: 18px; padding: 0; font-family: txt; font-size: 14px; line-height: 18px; color: var(--dark); border: none; background-color: transparent; outline: none; resize: none; }
.textarea > .data > textarea::placeholder { color: var(--dark3); opacity: 1; }
.textarea > .data > .btn { align-self: flex-start; }
.textarea > .data > .btn > a { padding: 1px 5px; font-size: 10px; line-height: 14px; }
.textarea > .data > .btn > a > .ico { height: 14px; }
.textarea > .data > .btn.min > a { padding: 1px; }
.textarea > .data > .btn.min > a > .ico { width: 14px; }
.textarea > .data > .btn.min > a > .txt { padding: 0 4px; }
.textarea.required > .label::after { content: " *"; color: var(--red); }
.textarea.c > .data > textarea { text-align: center; }
.textarea.r > .data > textarea { text-align: right; }
.textarea.readonly > .data { background-color: transparent; }
.textarea.off { display: none; }

.select { display: flex; flex-direction: column; width: 300px; }
.select > .label { padding: 0 6px; font-size: 10px; line-height: 14px; text-align: left; }
.select > .data { flex-grow: 1; display: flex; gap: 5px; padding: 5px; border-radius: 5px; border-radius: 5px; border: 1px solid var(--dark1); background-color: var(--dark1); position: relative; }
.select > .data > a { flex-grow: 1; display: flex; gap: 5px; text-decoration: none; color: var(--dark); }
.select > .data > a > .main { flex-grow: 1; text-align: left; }
.select > .data > a > .main > .txt { min-height: 18px; }
.select > .data > a > .main > .txt:empty::after { color: var(--dark3); content: attr(placeholder); }
.select > .data > a > .main > .code { font-size: 10px; line-height: 14px; }
.select > .data > a > .ico { align-self: flex-end; padding: 2px; width: 14px; height: 14px; font-size: 10px; line-height: 14px; }
.select > .data > .list { position: absolute; top: 100%; left: -1px; right: -1px; max-height: 281px; border-radius: 0 0 5px 5px; border: 1px solid var(--dark2); background-color: var(--light); overflow-y: scroll; z-index: 850; display: none; }
.select > .data > .list > .input > .data { border-radius: 0; border: none; border-bottom: 1px solid var(--dark1); }
.select > .data > .list > .option { text-align: left; background-color: var(--dark1); }
.select > .data > .list > .option > a { display: block; padding: 5px; text-decoration: none; color: var(--dark); }
.select > .data > .list > .option > a > .txt { min-height: 18px; }
.select > .data > .list > .option > a > .txt:empty::after { font-family: bld; color: var(--dark); content: attr(placeholder); }
.select > .data > .list > .option > a > .code { font-size: 10px; line-height: 14px; }
.select > .data > .list > .option > a:hover { color: var(--light); background-color: var(--dark); }
.select > .data > .list > .option > a:hover > .txt:empty::after { color: var(--light); }
.select > .data > .list > .option.readonly > a { color: var(--dark3); background-color: transparent; cursor: auto; }
.select > .data > .list > .option.off { display: none; }
.select.required > .label::after { content: " *"; color: var(--red); }
.select.on > .data { border-radius: 5px 5px 0 0; }
.select.on > .data > .list { display: block; }
.select.c > .data > a { justify-content: center; }
.select.c > .data > a > .main { padding: 0 0 0 23px; text-align: center; }
.select.r > .data > a { justify-content: flex-end; }
.select.r > .data > a > .main { text-align: right; }
.select.readonly > .data { background-color: transparent; }
.select.readonly > .data > a { cursor: auto; }
.select.readonly > .data > a > .ico { display: none; }
.select.readonly.c > .data > a > .main { padding: 0; }
.select.off { display: none; }

input[type="number"]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
input[type="password"]::-ms-reveal { display: none; }
input[type="password"]::-ms-clear { display: none; }

.dp { display: flex; flex-direction: column; }
.dp > .label { padding: 0 10px; text-align: left; }
.dp > .data { flex-grow: 1; display: flex; border-radius: 15px; border: 1px solid var(--dark); position: relative; }
.dp > .data > input { flex-grow: 1; width: 0; padding: 5px 10px; font-family: txt; font-size: 14px; line-height: 18px; color: var(--dark); border: none; background-color: transparent; outline: none; }
.dp > .data > input.date-piker { opacity:0; position:absolute;right:0;z-index:-99; }
.dp > .data > input::placeholder { color: var(--dark5); opacity: 1; }
.dp > .data > .btn > a { border: none; }
.dp.required > .label::after { content: " *"; color: var(--red); }
.dp.off { display: none; }

.checkbox { display: flex; flex-direction: column; }
.checkbox > .label { padding: 0 10px; text-align: left; }
.checkbox > .data { flex-grow: 1; display: flex; padding: 5px 10px; border-radius: 5px; border: 1px solid var(--dark); -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; }
.checkbox > .data > .btn > a { border: none; }
.checkbox > .data > .list { flex-grow: 1; display: flex; flex-wrap: wrap; justify-content: center; gap: 0 10px; }
.checkbox > .data > .list > .option { display: flex; flex-direction: column; }
.checkbox > .data > .list > .option > a { flex-grow: 1; display: flex; align-items: flex-start; gap: 0 5px; text-decoration: none; }
.checkbox > .data > .list > .option > a > .ico { flex-shrink: 0; color: var(--dark5); }
.checkbox > .data > .list > .option > a > .txt { text-align: left; }
.checkbox > .data > .list > .option.on > a > .ico { color: var(--dark);}

.display { display: flex; flex-direction: column; }
.display > .label { padding: 0 6px; font-size: 10px; line-height: 14px; text-align: left; }
.display > .data { flex-grow: 1; display: flex; gap: 5px; padding: 5px; border-radius: 5px; border-radius: 5px; border: 1px solid var(--dark1); }
.display > .data > .txt { flex-grow: 1; text-align: left; }
.display > .data > .txt:empty::after { content: "-"; }
.display > .data > .btn > a { padding: 1px 5px; font-size: 10px; line-height: 14px; }
.display > .data > .btn > a > .ico { height: 14px; }
.display > .data > .btn.min > a { align-items: center; padding: 1px; }
.display > .data > .btn.min > a > .ico { width: 14px; }
.display > .data > .btn.min > a > .txt { padding: 0 4px; }
.display.c > .data > .txt { text-align: center; }
.display.r > .data > .txt { text-align: right; }
.display.off { display: none;}

@media only screen and (max-width: 1600px) /* 1401 -> 1600 */ {}
@media only screen and (max-width: 1400px) /* 1201 -> 1400 */ {}
@media only screen and (max-width: 1200px) /* 993 -> 1200 */ {}
@media only screen and (max-width: 992px) /* 769 -> 992 */ {}
@media only screen and (max-width: 768px) /* 601 -> 768 */ {}
@media only screen and (max-width: 600px) /* 427 -> 600 */ {}
@media only screen and (max-width: 426px) /* 280 -> 426 */ {}