body > .cont > .data > .main > div > .all {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
body > .cont > .data > .main > div > .all > .right-div {
    text-align: right;
    display: inline-block;
}
body > .cont > .data > .main > div > .all > .left-div{
    text-align: left;
    display: inline-block;
}

body > .cont > .data > .main > div > .all > .right-div > div,
body > .cont > .data > .main > div > .all > .left-div > div  {
    display: inline-block;
    margin-left: 5px;
}

body > .cont > .data > .main > div > .all > .left-div > div > a > div,
body > .cont > .data > .main > div > .all > .right-div > div > a > div,
body > .cont > .data > .main > div > .all > .left-div > div > div {
    font-family: bld;
}
body > .cont > .data > .main > div > .all > .right-div > .affiche-exep > .clicked {
    background-color: var(--dark);
}
body > .cont > .data > .main > div > .all > .right-div > .affiche-exep > .clicked > .txt {
    color: var(--light);
}

/*----------------------- Table ------------------------*/

body > .cont > .data > .main > div > fieldset > .customers{
    border-collapse: collapse;
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
}

body > .cont > .data > .main > div > fieldset > .customers > tbody > tr > td {
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:1px solid var(--dark);
    text-align: left;
    padding: 5px;
    font-size: 13px;
    line-height: 18px;
}

body > .cont > .data > .main > div > fieldset > .customers > tbody > .total-row-prest > td{
    background-color: var(--dark1);
}

body > .cont > .data > .main > div > fieldset > .customers > tbody > .total-row-collab > td{
    background-color: var(--dark1);
}
body > .cont > .data > .main > div > fieldset > .customers > tbody > tr > th{
    border-top: 1px solid var(--dark);
    border-left:none;
    border-right:none;
    border-bottom:4px solid var(--dark);
    text-align: left;
    padding:5px;
    font-family: bld;
}

body > .cont > .data > .main > div > fieldset > .customers > tbody > tr > .centered-td,
body > .cont > .data > .main > div > fieldset > .customers > tbody > tr > td > p{
    text-align: center;
}


body > .cont > .data > .main > div > fieldset > .customers > tbody > tr > .last-3{
    width: 60px;
    text-align: left;
}
body > .cont > .data > .main > div > fieldset > .customers > tbody > tr > .first-1{
    width: 30px;
}

body > .cont > .data > .main > div > fieldset > .customers > tbody > tr > .second-2{
    width: 50px;
    text-align: center;
}
body > .cont > .data > .main > div > fieldset > .customers > tbody > tr > .second-2 > p,
body > .cont > .data > .main > div > fieldset > .customers > tbody > tr > td > .click{
   cursor: pointer;
}

body > .cont > .data > .main > div > fieldset > .customers > tbody > tr > .no-line{
    width: 50px;
}

body > .cont > .data > .main > div > fieldset {
    border:  1px solid var(--dark1);
    border-radius: 15px;
}

body > .cont > .data > .main > div > fieldset > legend {
    font-family: bld;
    color: var(--dark);
    text-align: left;
    margin-left: 32px;
}

body > .cont > .data > .main > div > fieldset > .customers > tbody > tr > td > .btn > a {
    width: 5px;
    height: 5px;
}

body > .cont > .data > .main > div > fieldset > .customers > tbody > tr > th > .btn > a:hover{
    background-color: var(--light);
    color: var(--dark);
}



body > .cont > .data > .main > div > fieldset > .customers > tbody > tr > td > .btn > a:hover
{
    background-color:var(--dark5);
    
}

body > .cont > .data > .main > div > fieldset > .customers > tbody > tr > td > .btn > a
{
    background-color: var(--dark5);
    border: none;
}
body > .cont > .data > .main > div > fieldset > .customers > tbody > tr > th > .btn > a{
    background-color: none;
    border: none;
    width: 5px;
    height: 5px;
}

body > .cont > .data > .main > div > fieldset > .customers > tbody > tr > th > .btn > a {
    font-size: 19px;
    line-height: 26px;
}



body > .cont > .data > .main > div > fieldset > .customers > tbody > .hidden {
    display: none;
}




/*----------------------- End of Table ------------------------*/

/*---------------------- Ajouter facture Buttons -----------------------*/

body > .cont > .data > .main > div > fieldset > .add-table-btn{
    width: 30%;
    padding: 10px;
    padding-left: 35px;
    display: flex;
}

body > .cont > .data > .main > div > fieldset > .add-table-btn > .btn > a > .txt{
    font-family: bld;
    font-size: 13px; 
    line-height: 18px;
}
body > .cont > .data > .main > div > fieldset > .add-table-btn > .btn{
    margin-right: 10px;
}



/*---------------------- End Of Ajouter facture Buttons -----------------------*/



/*---------------------- start of input popup -----------------------*/


body > .cont > .data > .main > div > fieldset > .customers > tbody > tr > td > .click {
    position: relative;
    cursor: pointer;
}

body > .cont > .data > .main > div > fieldset > .customers > tbody > tr > td > .click > #popupTextSpan1 {
    top: 0;
    left: 0;
    z-index: 1;
}

body > .cont > .data > .main > div > fieldset > .customers > tbody > tr > td > .click > .popuptext {
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
    width: 40px;
    border-radius: 15px;
    text-align: center;
}

/*---------------------- End Of input popup -----------------------*/


/*------------------------------- start of responsive code -------------------------------*/

@media screen and (max-width: 1500px) and (max-height: 800px) {
    body > .cont > .data > .main > div > .all > .left-div > .affiche_pre_facture,
    body > .cont > .data > .main > div > .all > .right-div > .basculer {
        padding-top: 10px;
    }

    body > .cont > .data > .main > div > fieldset > .add-table-btn{
        width: 40%;
        padding: 10px;
        padding-left: 35px;
        display: flex;
    }
  }

  /*------------------------------- end of responsive code -------------------------------*/
  
  
  
  /*------------------------------- start of ajouter a la facture -------------------------------*/

  body > #cont >  div > .field > .add-table-btn {display: flex; justify-content: space-around; margin-top: 3px;}

  /*------------------------------- end of ajouter a la facture -------------------------------*/

.total-row-collab{    background-color: #f1f1f1;     font-weight: bold;}